<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="udaan.beone.mrpoint" >

    <uses-sdk android:minSdkVersion="22" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/beone_app_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="udaan.beone.mrpoint.activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </activity>
        <activity
            android:name="udaan.beone.mrpoint.activity.HomeActivity"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait" />
        <activity
            android:name="udaan.beone.mrpoint.activity.AuthStockActivity"
            android:label="Auth Stock"
            android:screenOrientation="portrait" />
        <activity
            android:name="udaan.beone.mrpoint.activity.AuthDetailedStockActivity"
            android:label="Auth Stock"
            android:screenOrientation="portrait" />
        <activity
            android:name="udaan.beone.mrpoint.activity.OwnerDetailedStockActivity"
            android:label="Owner Stock"
            android:screenOrientation="portrait" />
        <activity
            android:name="udaan.beone.mrpoint.activity.SelectGroupActivity"
            android:label="@string/title_activity_select_group"
            android:screenOrientation="portrait" />
        <activity
            android:name="udaan.beone.mrpoint.activity.SelectMemberActivity"
            android:label="@string/title_activity_select_member"
            android:screenOrientation="portrait" />
        <activity
            android:name="udaan.beone.mrpoint.activity.VisitActivity"
            android:label="@string/title_activity_visit"
            android:screenOrientation="portrait" />
        <activity
            android:name="udaan.beone.mrpoint.activity.GiveStockActivity"
            android:label="@string/title_activity_give_stock"
            android:screenOrientation="portrait" />
        <activity
            android:name="udaan.beone.mrpoint.activity.ReturnStockActivity"
            android:label="@string/title_activity_return_stock"
            android:screenOrientation="portrait" />
        <activity
            android:name="udaan.beone.mrpoint.activity.CheckStockActivity"
            android:label="@string/title_activity_check_stock"
            android:screenOrientation="portrait" />
        <activity
            android:name="udaan.beone.mrpoint.activity.SoldStockActivity"
            android:label="@string/title_activity_sold_stock"
            android:screenOrientation="portrait" />
        <activity
            android:name="udaan.beone.mrpoint.activity.SoldAllStockActivity"
            android:label="@string/title_activity_sold_all_stock"
            android:screenOrientation="portrait" />
        <activity
            android:name="udaan.beone.mrpoint.activity.DirectSaleStockActivity"
            android:label="@string/title_activity_direct_sale_stock"
            android:screenOrientation="portrait" />
        <activity
            android:name="udaan.beone.mrpoint.activity.ActionPayActivity"
            android:label="@string/title_activity_action_pay"
            android:screenOrientation="portrait" />
        <activity
            android:name="udaan.beone.mrpoint.activity.ItemInfoActivity"
            android:label="@string/title_activity_item_info"
            android:screenOrientation="portrait" />
        <activity
            android:name="udaan.beone.mrpoint.activity.ItemInfoLActivity"
            android:label="@string/title_activity_item_info"
            android:screenOrientation="portrait" />
        <activity
            android:name="udaan.beone.mrpoint.activity.ItemListInfoActivity"
            android:label="@string/title_activity_item_list_info"
            android:screenOrientation="portrait" />
    </application>
</manifest>
